# General Python ignores
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
db.sqlite3
.DS_Store

# Virtual environment
venv/
.venv/

# PyCharm/IntelliJ specific ignores
.idea/

# VS Code specific ignores
.vscode/

#special files needing ignore
.env
client_secret.json
GIT_TOKEN
sce_project_venv/
sce_final_project/db.sqlite3
sce_proj_venv/*
sce_final_project/sce_final_project/__pycache__/urls.cpython-312.pyc
sce_final_project/db.sqlite3
